body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Adiciona esta linha para ocultar a barra de rolagem horizontal */
}

.content {
  padding-top: 50px; /* Espaço para a navbar fixa */
  min-height: 100vh;
  background-color: #F0FDF4;
  box-sizing: border-box; /* Inclui padding e borda na largura total */
}

.container {
  max-width: 1200px; /* Limitar a largura máxima do conteúdo */
  margin: 0 auto; /* Centralizar */
  padding: 0 15px; /* Adicionar preenchimento nas laterais */
  box-sizing: border-box; /* Inclui padding na largura total */
}